.color-picker {
  border-radius: 100px;
  border: 2px solid white;
  cursor: pointer;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 5px 4px;
  float: left;
}

.color-picker:hover, .active-color {
  border-color: black;
}

.selected {
  border-color: black;
}