.color-picker {
  border-radius: 100px;
  border: 1px solid white;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 5px 4px;
  float: left;
}

.color-picker:hover {
  border-color: black;
}

.selected {
  border-color: black;
}