.feature {
  border-top: 1px solid #ccc;
  background: white;
}
.feature header {
  padding: 0px 5px;
}
.feature-header {
  font-weight: 400;
  letter-spacing: 1px;
  padding: 10px;
  margin: 0;
}

.action-button {
  color: #aaa;
  cursor: pointer;
  font-weight: 300;
  line-height: 27px;
  background: transparent;
  border: none;
}

.action-button:active, .action-button:focus {
  outline: 0;
  box-shadow: none;
}