.jumbotron {
  background: white;
  text-align: center;
}

.jumbotron h1 {
  font-weight: 100;
  margin-bottom: 2em;
}

.fb-logout {
  color: #4C66A4;
  font-weight: 200;
}

.fb-login {
  margin: 10px 0;
  text-align: center;
}

.fb-login:hover {
  background: #4C66A4;
  border-color: #4C66A4;
  color: white;
}

.active-user p {
  font-weight: 200;
  text-align: center;
  display:block;
}

.fb-user {
  font-weight: 400;
}