.jumbotron {
  background: white;
  text-align: center;
}

.jumbotron h1 {
  font-weight: 100;
  margin-bottom: 2em;
}

.fb-login {
  margin: 10px 0;
  text-align: center;
}

.fb-login:hover {
  background: #4C66A4;
  border-color: #4C66A4;
  color: white;
}